@import "tailwindcss";

/* debug */
/* * {
    outline: 1px solid green;
    background: rgba(0, 128, 0, 0.05);
} */
* {
  box-sizing: border-box;
}

:root {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
